:root {
  font-family: "Noto SansCJK JP", sans-serif;
  line-height: 1.5;
  font-size: 16px;

  --primary-font: "Noto SansCJK JP", sans-serif;
  --secondary-font: 'Inter', sans-serif;

  --color-light: #FFFFFF;
  --color-primary-300: #FFCC21;
  --color-primary-400: #FF963C;
  --color-primary-500: #EA6C00;
  --gradient-start: #FFCC21;
  --gradient-end: #FF963C;
  --color-secondary-300: #8FE9D0;
  --color-dark-500: #414141;
  --color-dark-600: #2E2E2E;
  --color-gray: #777777;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 960px;
  min-height: 1056px;
  height: 100vh;
  background: var(--color-light);
}

#root {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Noto SansCJK JP";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/NotoSansJP-Light.otf") format("opentype");
}

@font-face {
  font-family: "Noto SansCJK JP";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Inter-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/Inter-Regular.ttf") format("opentype");
}